<div class="tab-database">
  <div class="configuration">
    <div class="db-content">
      <div class="column-50 db-basic">
        <span i18n="englishOnly"></span>
        Upload test data to the cloud:<br/><br/>
        <ul style="line-height: 1.3">
          <li>&#8226;&nbsp;&nbsp;Easily share results with your team</li>
          <li>&#8226;&nbsp;&nbsp;Automatically generate plots</li>
          <li>&#8226;&nbsp;&nbsp;Search, organize, compare</li>
          <li>&#8226;&nbsp;&nbsp;Discuss results with the community</li>
        </ul>
        <div style="text-align: center; margin-top: 15px;">
          <a href="https://database.rcbenchmark.com/tests/439/ta130-25-kv80-with-xoar-40x10" target="_blank">
            <img src="images/dbplot.png" title="Example test data">
          </a>
        </div>
      </div>
      
      <div class="column-50">
        <div style="padding-bottom: 8px; display: flex; flex-flow: column; height:inherit">
          <div class="db-advanced" style="height: fit-content;">
            <div class="db-subtitle">1) Select a test script</div>
            <div class="parag" style="margin-bottom: 12px;">
              <select class="dropdownScripts" name="scriptSelect"></select>
            </div>
          </div>
          
          <div style="height: fit-content;">
            <div class="db-subtitle">
              <span class="db-basic">1) </span>
              <span class="db-advanced">2) </span>
              Configure test parameters
            </div>
          </div>
          
          <div style="display: inline-block; position:relative; overflow-y: auto;">
            <div class="parag">
              <p>Test title<br/><input type="text" maxlength="50" id="database-test-title" placeholder="X motor with Y prop"></p>
              <p id="readOnlyMessage">
                <span id="database-user-params"></span>
              </p>
            </div>
          </div>
          
          <div style="height: fit-content; margin-top: 10px;">
            <div class="db-subtitle">
              <span class="db-basic">2) </span>
              <span class="db-advanced">3) </span>
              Run the test
            </div>
            <div class="buttons runbtn parag">
                <a class="run-button" href="#"  i18n="runScriptButton" id="database-run-script"></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="column-50 db-advanced">
        <div class="db-content db-advanced" style="padding-left: 10px; display: flex; flex-flow: column;">
          <div style="height: fit-content;">
            <div class="db-subtitle">Code for the test script</div>
            <p>This is the code behind the test script. You cannot edit this code by hand, shown for information purposes only.</p>
          </div>
          <div style="flex-grow: 1; display: inline-block; position:relative;">
            <pre id="database-editor" style="position:absolute; top:0; right: 0; bottom: 28px; left: 0;"></pre>
          </div>
        </div>
      </div>
      
    </div>
    <div style="position:absolute; bottom:8px; right:8px;">
      <small class="link">
        <span class="db-advanced" id="db-goto-basic">Switch to basic mode</span>
        <span class="db-basic" id="db-goto-advanced">Switch to advanced mode</span>
      </small>
    </div>
  </div>

  <div class="runScriptWindow" style="display: none;"></div>
</div>