﻿.tab-database {
  height: 100%;
}

.tab-database .configuration{
  height: 100%;
}

.tab-database .parag{
  margin-left: 25px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-database .link {
  color:#FF9201; 
  font-weight:bold;
  text-decoration: underline;
  cursor: pointer;
}

.tab-database .db-content{
  height: 100%;
}

/* Clear floats after the columns */
.tab-database .db-content:after{
  content: "";
  display: table;
  clear: both;
}

.tab-database .column-50 {
    float: left;
    width: 50%;
    height: 100%;
}

.tab-database .db-subtitle {
  font-weight: bold;
  margin-bottom: 12px;
}

.tab-database .bar {
    width: calc(100%);
    background-color: orange;
    height:3px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.tab-database .buttons {
    bottom: 10px;
}

.tab-database .buttons a {
    display: block;
    float: left;

    margin: 0 10px 5px 0;
    padding: 0 15px 0 15px;
	width: 60px;

    height: 23px;
    line-height: 23px;
    text-align: center;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-database .buttons a:hover {
    background-color: #dedcdc;
}

.tab-database #database-test-title{
    border: silver 1px solid;
    width: calc(100% - 20px);
    margin-top: 3px;
    padding: 5px;
}

.tab-database textarea{
  border: silver 1px solid;
  width: calc(100% - 20px);
  margin-top: 3px;
  padding: 5px;
  resize: none;
}

.tab-database select{
    border-bottom: silver 1px solid;
}

/*.tab-database .top .topleft {
	margin-top:	6px;
    width: 45%;
	float:left;
	height:30px;
}
.tab-database .top .topright {
    float: left;
    height:30px;
    width: 55%;
}

.tab-database .top .topleft .dropdownScripts {
	width:210px;
}

.tab-database {
    height:100%;
}

.tab-database .lowerScriptContent {
  padding-top: 8px;
  padding-bottom: 10px;
}



.tab-database .db-lower-right{
    position: absolute;
    top: 0;
    right: 0;
}*/