<object id="calib-img" data="" type="image/svg+xml"></object>

<div class="clear-both"></div>

<br/><br/>

<text id="calibration-instruction"></text>
<br/>
<div id="calib-input-box">
    <span id="calib-input-text"></span>: <input type="text" id="calib-input-input" name="">
    <br/>
</div>
<div class="clear-both"><br /><br /></div>
<div class="buttonsDiv">
	<a class="calibrateDynAbort buttons" href="#"></a>
	<a class="calibrateDynNext buttons" href="#"></a>
</div>