<div class="tab-debug">
	<div id="hackbox">
        <span i18n="hackCode">Hack code: </span><input type="text" id="debugHack" name="" placeholder="code">
        <span id="redHack" style="color: red" i18n="useHackCodeAtYourOwnRisks">Use hack codes at your own risks! To remove type "reset".</span><span id="greenHack" style="color: green"></span>
        <br>
    </div>
    <img class="black-line" src="images/black_line.png">
    <div id="log">
		<div class="wrapper">
		</div>
	</div> 
	<div class="clear-both"></div>
	<div id="log-left">
		
	</div>
	<div id="log-right">
		
	</div>
	<div class="clear-both"></div>
	<div class="footer">
		
	</div>
</div>