<div class="tab-utilities">
    <div class="utilities-left "id="utilities-left">
        <div class="section">
            <h4 i18n="outputLimits"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
                <p><strong><span i18n="controlProtocol"></span>:</strong></p>
                <div class="controlProtocol shifted">
                  <span class="1580">
                    <p class="no_control_board" i18n="no_control_board_detected"></p>
                    <p class="control_board" i18n="controlBoardDetected"></p>
                    <select class="dropdown" id="selectControlProtocol" name="selectlanguage">
                      <option id="dshot150" value="dshot150" i18n="cb_dshot150"></option>
                      <option id="dshot300" value="dshot300" i18n="cb_dshot300"></option>
                      <option id="dshot600" value="dshot600" i18n="cb_dshot600"></option>
                      <!-- <option id="dshot1200" value="dshot1200" i18n="cb_dshot1200"></option> -->
                      <option id="multishot" value="multishot" i18n="cb_multishot"></option>
                      <option id="oneshot42" value="oneshot42" i18n="cb_oneshot42"></option>
                      <option id="oneshot125" value="oneshot125" i18n="cb_oneshot125"></option>
                      <option id="pwm_50" value="pwm_50" i18n="cb_pwm_50"></option>
                      <option id="pwm_100" value="pwm_100" i18n="cb_pwm_100"></option>
                      <option id="pwm_200" value="pwm_200" i18n="cb_pwm_200"></option>
                      <option id="pwm_300" value="pwm_300" i18n="cb_pwm_300"></option>
                      <option id="pwm_400" value="pwm_400" i18n="cb_pwm_400"></option>
                      <option id="pwm_500" value="pwm_500" i18n="cb_pwm_500"></option>
                    </select><br/><br/>
                  </span>
                  <span class="1520 1780"><span i18n="cb_pwm_50"></span><br/></span>
                  <span i18n="controlBoardRange"></span>: <span id="cb_min_supported_range"></span> to <span id="cb_max_supported_range"></span><span class="microseconds"> (&micro;s)</span>
                  <div style="float:right" class="info">
                    <span class="1520 1780 info">
                      <img id="infoBuyControlBoard" src="images/question.png" alt="Pole Info" height="20" width="20">  
                    </span>
                  </div>
                </div><br/>
                <p><strong><span i18n="safetyCutoffThrottle"></span>:</strong></p>
                <div class="ESCCutoff shifted">
                    <span class="1780Bside"><span i18n="sideA"></span> </span><span i18n="sliderESC"></span><span class="microseconds"> (&micro;s)</span>: 
                    <input id="ESCCutoff" type="number">
                    <div style="float:right" class="info"></div>
                </div>
                <div class="ESCCutoff 1780Bside shifted">
                    <span i18n="sideB"></span> <span i18n="sliderESC"></span><span class="microseconds"> (&micro;s)</span>: 
                    <input id="ESCCutoffB" type="number">
                </div>
                <br/><p><strong><span i18n="manualControlLimits"></span>:</strong></p>
                <div class="shifted"><table id="limits">
                    <tr>
                        <th></th>
                        <th i18n="min"></th>
                        <th i18n="max"></th>
                    </tr>
                    <tr id="PMW1Row">
                        <td id="PWM1Title"></td>
                        <td class="value">
                            <input id="PWM1Min" type="number">
                        </td>
                        <td class="value">
                            <input id="PWM1Max" type="number">
                        </td>
                    </tr>
                    <tr id="PMW2Row">
                        <td id="PWM2Title"></td>
                        <td class="value">
                            <input id="PWM2Min" type="number">
                        </td>
                        <td class="value">
                            <input id="PWM2Max" type="number">
                        </td>
                    </tr>                    
                    <tr id="PMW3Row" class="1520 1580 1780Bside">
                        <td id="PWM3Title"></td>
                        <td class="value">
                            <input id="PWM3Min" type="number">
                        </td>
                        <td class="value">
                            <input id="PWM3Max" type="number">
                        </td>
                    </tr>                    
                    <tr id="PMW4Row" class="1520 1580 1780Bside">
                        <td id="PWM4Title"></td>
                        <td class="value">
                            <input id="PWM4Min" type="number">
                        </td>
                        <td class="value">
                            <input id="PWM4Max" type="number">
                        </td>
                    </tr>                
                </table></div>
                <div class="clear-both"></div>
        </div>
        <div class="section 1580">
            <h4 i18n="windingOhmmeter"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <div id="utilities-read-ohm-button" class="buttons">
                <a class="get-ohm-button button button-std-config" href="#" i18n="readOhm"></a>
                <div id="ohmmeter-result" style="padding-top:4px;"></div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
    <div id="utilities-right">
        <div class="section">
            <h4 i18n="calibration"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <p><strong><span i18n="Load Cells"></span>:</strong></p>
            <label class="1780" i18n="loadCellsSeries1780FactoryCalibrated"></label>
          
            <!-- Thrust calibration -->
            <div id="utilities-calibration-buttons" class="shifted">
                <div id="calibrate-thrust-button" class="buttons 1520 1580">
                    <a class="calibrateDynThrustx calibrate-thrust button button-std-config" href="#" i18n="initialUtilitiesButtonCalibrateDynThrust"></a>
                    <!-- <p i18n="initialutilitiesCalibrateDynText"></p> -->
                </div>
                <div class="clear-both"></div>
                <label class="calibrateDynThrust 1580 1520"></label>
                <div class="clear-both"></div>
                <div class="reverse_chk 1520 1580 1780">
                    <label>
                      <input id="reverse_thrust" type="checkbox">
                        &nbsp;<span class="1780Bside"><span i18n="sideA"></span>: </span><span i18n="reverseThrustSign"></span>
                      <br/>
                    </label>
                    <label class="1780LCB">
                      <input id="reverse_thrustB" type="checkbox">
                        &nbsp;<span class="1780Bside"><span i18n="sideB"></span>: </span><span i18n="reverseThrustSign"></span>
                    </label>
                </div>

                <!-- Torque calibration -->
                <div id="calibrate-torque-weight-button" class="buttons 1580">
                    <a class="calibrateDynx calibrate-torque-weight button button-std-config" href="#" i18n="initialUtilitiesButtonCalibrateDyn"></a>
                    <!-- <p i18n="initialutilitiesCalibrateDynText"></p> -->
                </div>
                <div class="clear-both"></div>
                <label class="calibrateDyn 1580"></label>
                <div class="1580 1780 reverse_chk">
                  <label> 
                    <input id="reverse_torque" type="checkbox">
                      &nbsp;<span class="1780Bside"><span i18n="sideA"></span>: </span><span i18n="reverseTorqueSign"></span>
                     <br/>
                    </label>
                    <label class="1780LCB">
                   <input id="reverse_torqueB" type="checkbox">
                      &nbsp;<span class="1780Bside"><span i18n="sideB"></span>: </span><span i18n="reverseTorqueSign"></span>
                  </label>
                </div>
            </div>

            <!-- Current calibration -->
            <div id="current-calibration" class="1520 1580">
              <p>
                <strong><span i18n="ESC current"></span>:</strong>
                <span class="info">
                  <img id="info-current-calibration" src="images/question.png" height="20" width="20">
                </span>
              </p>
              <div class="shifted">
                <strong><span i18n="scaleFactor"></span>:</strong>
                <td class="value">
                  <input id="current-scale-factor" type="number" min="0.8" max="1.2" step="0.0001">
                </td><br>
                <div id="current-tare-button-15xx" class="buttons">
                  <a class="button button-std-config" href="#" i18n="tareCurrent"></a>
                  <!-- <p i18n="initialutilitiesCalibrateDynText"></p> -->
                </div>
                <div id="current-calibration-reset-button-15xx" class="buttons">
                  <a class="button button-std-config" href="#" i18n="factoryDefault"></a>
                  <!-- <p i18n="initialutilitiesCalibrateDynText"></p> -->
                </div><span id="factoryDefaultCurrentDone"></span><br>
              </div>
            </div>

            <div id="pitotShowDialog" style="display:none"> </div>
            <div id="utilities-calibration-airspeed" class="1580 1780">
                <strong><span i18n="airspeedProbe"></span>
                <label id="no-airspeed-probes-display">
                  <span i18n="notDetected"></span>
                    <img style="cursor: pointer;" class="pitotInfoButton" src="images/question.png" height="20" width="20">
                </label>
                </strong>
                <label id="airspeed-probes-display" style="display: none;">
                    <strong><span i18n="detected"></span></strong>
                    <img style="cursor: pointer;" class="pitotInfoButton" src="images/question.png" height="20" width="20"><br>
                    <span i18n="currentPressure"></span>: <value class="airpressure"></value><br>
                    <span i18n="calibration"></span>: 
                    <td class="value">
                        <input id="calibrationCoefficient" type="number" min="0.01" max="2" step="0.005">
                    </td><br>
                   <span i18n="ambientPressure"></span>: 
                    <td class="value">
                        <input id="atmPressure" type="number" min="85000" max="106500" step="100">
                    </td><br>
                    <table>
                    </table>
                </label>
            </div>
            <!-- #utilities-calibration-buttons -->
        </div>
        <div class="clear-both"></div>
        <div class="section" >
            <h4 i18n="csvFileNotes"></h4>
            <img class="black-line" src="images/black_line.png">
		    <div class="clear-both"></div>
            <div id="csv-notes-div">
				 <textarea id="csv-notes-text" i18n_placeholder="csv-notes-text"></textarea>						
            </div>
		</div>
    </div>
    <div id="showCalibWizard" style="display:none">
    </div>

</div>