.tab-utilities .model-and-info {
    height: calc(100% - 138px);
}
.tab-utilities {
    height: 100%;
}
.tab-utilities .section {
    clear: both;
    padding-bottom: 15px;
}


.tab-utilities #utilities-left{
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
}
.tab-utilities #utilities-right{
	height: 100%;
	width: 50%;
	position: relative;
	float: right;
}

.tab-utilities .reverse_chk{
	padding-top: 5px;
    padding-bottom: 10px;
}

//#tare-buttons{
//  position: relative;
//}

.tab-utilities .black-line {
	height: 10px;
	width: 95%;
	position: relative;
	top: -5px;
}

.tab-utilities .link {
	text-decoration: underline;
}

.tab-utilities .section #working-directory{
	width: calc(100% - 50px);
	position: relative;
	float: left;
}

#setup-working-directory-button a {
	position: relative;
	right: 20px;
	top: 5px;
	float: right;
	display: inline-block;
}
.tab-utilities .section a:hover {
    background-color: #dedcdc;
}
.tab-utilities .section  a.calibrating {
    background-color: #c1c1c1;
}
.tab-utilities .section a.calibrating:hover {
    cursor: default;
    background-color: #c1c1c1;
}
.tab-utilities .section a.disabled {
    background-color: #c1c1c1;
}
.tab-utilities .section a.disabled:hover {
    cursor: default;
}
.tab-utilities .section a.backup {
    width: 90px;
    margin-right: 8px;
}
.tab-utilities .section a.restore {
    width: 90px;
}
.tab-utilities .dropdown {
    border-bottom: 1px solid gray;
}
.tab-utilities .shifted {
    padding-left: 6px;
}
.tab-utilities #interactive_block {
    float: left;
    position: relative;

    height: 100%;
    width: calc(100% - 199px);

    border: 1px solid silver;
    background-color: white;
}
.tab-utilities #interactive_block .heading {
    float: right;
    height: 15px;

    margin: 10px 10px 0 0;
    font-weight: bold;
}
.tab-utilities #interactive_block a.reset {
    position: absolute;
    display: block;

    bottom: 10px;
    right: 10px;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;

    z-index: 100;
}
.tab-utilities #interactive_block a.reset:hover {
    background-color: #dedcdc;
}
.tab-utilities #canvas_wrapper {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}
.tab-utilities .block_wrapper {
    font-size: 0;
}
.tab-utilities .block {
    float: left;
    display: block;

    margin-left: 10px;

    border: 1px solid silver;
}
.tab-utilities .block .head {
    display: block;

    text-align: center;
    line-height: 20px;
    font-weight: bold;

    border-bottom: 1px solid silver;
    background-color: #ececec;
}
.tab-utilities .block.info {
    display: inline-block;
    margin-bottom: 10px;

    vertical-align: top;
    font-size: 12px;

    border: 1px solid silver;
}
.tab-utilities .block.info .fields {
    padding: 5px 5px 3px 5px;
}
.tab-utilities .block.info dt {
    float: left;

    width: 99px;
    height: 20px;
    line-height: 20px;
}
.tab-utilities .block.info dd {
    width: 76px;
    height: 20px;
    line-height: 20px;

    margin-left: 99px;
}
.tab-utilities .block.gps {
    width: 185px;
    margin-bottom: 10px;
}
.tab-utilities .block.gps .fields {
    padding: 5px 5px 3px 5px;
}
.tab-utilities .block.gps dt {
    float: left;

    width: 85px;
    height: 20px;

    margin-bottom: 2px;

    line-height: 20px;
}
.tab-utilities .block.gps dd {
    height: 20px;

    margin-left: 85px;
    margin-bottom: 2px;

    line-height: 20px;
}
.tab-utilities .block.instruments {
    width: 185px;
}
.tab-utilities .buttons {
    width: calc(100% - 20px);

    margin-top: 10px;
    bottom: 10px;
}
#utilities-read-ohm-button .get-ohm-button,
#utilities-calibration-buttons .button {
    display: block;
    float: left;

    margin: 0 10px 5px 0;
    padding: 0 25px 0 15px;

    //height: 28px;
    //line-height: 28px;
    //text-align: center;
    //font-weight: bold;

    //border: 1px solid silver;
    //background-color: #ececec;
}

.tab-utilities .update {
    display: block;
    float: right;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-utilities .update:hover {
    background-color: #dedcdc;
}
h4{
    margin: 0 0px 3px 0;
}


/* CUTOFF SETTINGS */
.tab-utilities .ESCCutoff {
    margin-top: 5px;
    width: 265px;
}
.tab-utilities .ESCCutoff input[type=number]  {
    margin-left: 10px;
}

.tab-utilities #limits {
	width: 277PX;
	position: relative;
	margin: 10px 10px 0px 0px;
    border: 1px solid black;
    border-collapse: collapse;
}

.tab-utilities #limits input{
	border-bottom: 1px solid gray;
	text-align: center;
	width: 65px;
}

/* COMMENT BOX CSS */
.tab-utilities #csv-notes-text {
    border: silver 1px solid;
    height: 45px;
    width: 265px;
    resize: none;
    padding: 5px;
}

.tab-utilities .controlProtocol {
  width: 265px;
}
