.ui-dialog .ui-dialog-content {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.ui-widget-header,.ui-corner-all ui-button{
    background:#ff9201;
    border: 2px solid #303030;
    color: #000000;
    /*font-weight: bold;*/
    text-align: center;
    font-size: 20px;
 }

.ui-dialog-titlebar {
    background:#ff9201;
    border: 1px solid #303030;
    color: #ffffff;
    text-align: center;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
}

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 2px 2px 2px 2px;
    border: 2px solid #333333;
    -moz-user-select: normal;
    -khtml-user-select: normal;
    -webkit-user-select: normal;
    user-select: normal;
}
.ui-state-default{
    visibility: hidden;
}

.ui-dialog-titlebar-close {
    visibility: visible;
}

#credits-popup .section {
    clear: both;
    padding-bottom: 15px;
}

#credits-popup #partners{
   -webkit-column-count: 2;
   -webkit-column-gap:   0px;
   text-align:center;  
}

#credits-popup #header{
    margin: auto;
   text-align: center;
}
#credits-popup #collaborator p{
    text-indent: 2em;
}
#credits-popup #collaborator{
    clear: both;
}
#changelog-popup p{
    margin-left: 2em;
}
#changelog-popup span{
    font-weight: bold;
    line-height: 200%;
}