<style>

    p{
        margin-bottom:10px;
    }
    
    h2{
        margin-top:15px;
        margin-bottom: 15px;
    }
    
</style>

<h2 i18n="safetyInstructions"></h2>
<p i18n="safetyInstructions1"></p>
<p i18n="safetyInstructions2"></p>
<p i18n="safetyInstructions3"></p>
<p i18n="safetyInstructions4"></p>
<p i18n="safetyInstructions5"></p>
<p i18n="safetyInstructions6"></p>
<p i18n="safetyInstructions7"></p>
<p i18n="safetyInstructions8"></p>
<p i18n="safetyInstructions9"></p>
<p i18n="safetyInstructions10"></p>