
<div id="sample-rate-popup">
    
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    
    <div style="margin-left: 23px;">
        
        <h3 i18n="supportedSamplesRates"></h3> 
		
        <p>
            
            <br/><span i18n="supportedSamplesRatesTips1"></span><br/><br/>
        
        </p>
           
		<h3 i18n="understandingLimitations"></h3>
		
        <p>         
              <br/> <span i18n="understandingLimitationsTips1"></span>
             
            
        </p>
        <p>			
			<br/><span i18n="understandingLimitationsTips2"></span>
            <br/><span i18n="understandingLimitationsTips3"></span>            
        </p>        
        <p>
             <br/><span i18n="understandingLimitationsTips4"></span>
        </p>           
        
        <br/>
        
		<h3 i18n="windowsInstructions"></h3>

        <br/>
        
        <p>	 
			  <strong>1)</strong> <span i18n="windowsInstructions1"></span><br/><br/>
        
        </p>
        
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/openDeviceManager.png" alt="Fig. 1: Opening the Windows Device Manager.">
               <figcaption><small i18n="sampleRateFigure1"></small></figcaption> 
            </figure>
        </div>
        
        <p> 
        <br/><br/><strong>2)</strong><span i18n="windowsInstructions2"></span><br/><br/>
        </p>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/selectDeviceManager.png" alt="Fig. 2: Select the correct device.">
				<figcaption><small i18n="sampleRateFigure2"></small></figcaption> 
            </figure>
        </div>
        <p> 
		<br/><br/><strong>3)</strong><span i18n="windowsInstructions3"></span> <br/><br/> 
        </p>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/advancedDeviceManager.png" alt="Fig. 3: Open the advanced properties interface.">
				 <figcaption><small i18n="sampleRateFigure3"></small></figcaption> 
            </figure>
        </div>
        <p> 
        <br/><br/><strong>4)</strong><span i18n="windowsInstructions4"></span> <br/><br/>
        </p>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/latencyoption.png" alt="Fig. 4: Change the sample rate by modifying the latency timer.">
				 <figcaption><small i18n="sampleRateFigure4"></small></figcaption> 
            </figure>
        </div><br/><br/>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/latencytable.png" alt="Fig. 5: Effect of latency setting on maximum sample rate.">
                <figcaption><small i18n="sampleRateFigure5"></small></figcaption> 
            </figure>
        </div>
        <p> 
             <br/><br/><strong>5)</strong> <span i18n="windowsInstructions5"></span> <br/><br/> 
        </p>
		<h3 i18n="linuxInstructions"></h3> 
        </br><p i18n="linuxInstructions"></p>
	<p><strong>1)</strong> <span i18n="linuxInstructions1"></span></p>                  
    <blockquote style="text-align: center; font-family:courier;"><h3> sudo -i</h3></blockquote>
    <p><strong>2)</strong> <span i18n="linuxInstructions2"></span></p>    
    <blockquote style="text-align: center; font-family:courier;"><h3> cat /sys/bus/usb-serial/devices/ttyUSB0/latency_timer</h3></blockquote>
    <p><strong>3)</strong> <span i18n="linuxInstructions3"></span> </p>     
    <blockquote style="text-align: center; font-family:courier;"><h3> echo 1 > /sys/bus/usb-serial/devices/ttyUSB0/latency_timer</h3></blockquote>
    <p><strong>4)</strong> <span i18n="linuxInstructions4"></span></p> 
    <blockquote style="text-align: center; font-family:courier;"><h3> cat /sys/bus/usb-serial/devices/ttyUSB0/latency_timer</h3></blockquote>  
     <h3 i18n="macInstructions"></h3> 
      </br><p i18n="macInstructions1"></p> 
    <p i18n="macInstructions2"></p> 
    &nbsp;
</div>